body {
  color: #0e305d;
  overflow-y: scroll;
}

*:not(.ticker__element) {
  transition: all 250ms;
}

main {
  position: relative;
  min-height: 100vh;
}

.bg-togel {
  background-color: #0e305d;
}

form .form-control,
form button,
form .btn,
.pill {
  border-radius: 20px;
}

.login .form-control, .login button, .profile button {
  width: 120px;
  margin: 0.2em;
}

.bg-warning, .togel-active {
  background-color: #e7bb64 !important;
}

form input,
form select,
form .form-control,
form .custom-select,
form .input-group-text {
  max-width: 250px;
  border-radius: 20px;
  /* margin-right: 1rem; */
}

.register-button {
  background-color: #e7bb64;
  /* animation: flash 0.9s ease-out infinite; */
}

option[disabled] {
  display: none;
}

h2,
h5 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav-link {
  background-color: #a58039;
  border-radius: 0.25rem;
  margin-right: 1rem;
  color: #fff;
  font-weight: bold;
  transition: all 250ms;
}

.nav-link:hover {
  background-color: #946d24;
}

/* .navmenu {
  margin-bottom: 1rem;
} */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e7bb64;
  color: #fff;
  /* font-weight: bold; */
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  display: flex;
}
.social {
  font-size: 1.5rem;
  margin-left: 0.2rem;
}

.social a {
  cursor: pointer;
}

.social.fb {
  color: #38529a;
}

.social.wa {
  color: #24cc63;
}

.social :hover {
  color: #fff;
}

.content {
  min-height: calc(100vh - (103px + 36px + 72px));
  padding-bottom: 72px;
}

.register-button {
  margin: 1em;
  border-radius: 3em;
  width: 100%;
  background-color: #0e305d;
  font-style: italic;
  font-weight: bolder;
  font-size: xx-large;
}

.list-group-item {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: #0e305d !important;
  color: #0e305d;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0 !important;
  border-width: 1px !important;
}

.list-group-item.active {
  background-color: #0e305d;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.ticker {
  background-color: #0a2445;
  color: #f6d68b;
  height: 100% !important;
  z-index: -2;
  width: 100%;
}

.ticker__element {
  font-style: italic;
  font-weight: bold;
  height: 100%;
}

.ticker__item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* 
.ticker__container {
  margin-top: 1em;
} */

.ticker__container .row {
  height: 3em;
}

.ticker__title {
  background-color: #0c315e;
  color: #fff;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bolder;
  display: inline-flex;
  text-align: center;
  max-width: 10em;
}

.ticker__title::after {
  position: absolute;
  z-index: -1;
  content: "";
  right: -1em;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
  -webkit-transform: skewX(-10deg) translateX(-15px);
  -moz-transform: skewX(-10deg) translateX(-15px);
  -ms-transform: skewX(-10deg) translateX(-15px);
  transform: skewX(-10deg) translateX(-15px);
}

.list-group > .list-group .list-group-item {
  padding-left: 3em;
}
.list-group > .list-group .list-group-item.active {
  background-color: #6499da;
}
.list-group > .list-group .list-group-item::before {
  content: "";
  display: inline-block;
  border: 5px solid transparent;
  border-left: 5px solid #0c305d;
}

/* .submenu:before {
  content: "+";
  margin-right: 0.5em;
}
.submenu.active:before {
  content: "-";
  margin-right: 0.5em;
} */

.submenu span {
  position: relative;
  display: inline-flex;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  margin: 0;
  line-height: inherit;
}

.submenu.active span:after,
.submenu.active span:before {
  transform: rotate(90deg);
  background: white;
}

.submenu.active span:after {
  left: 50%;
  right: 50%;
}

.submenu span:before {
  content: "";
  background: #0e305d;
  position: absolute;
  transition: 0.3s;
  top: 25%;
  left: 45%;
  bottom: 25%;
  width: 10%;
}

.submenu span:after {
  content: "";
  background: #0e305d;
  position: absolute;
  transition: 0.3s;
  top: 45%;
  left: 25%;
  right: 25%;
  height: 10%;
}

.btn-logout {
  border-radius: 300px;
  border-width: 0.25em;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  height: 7em;
  width: 7em;
  /* clip-path: inset(15% 0 15% 0); */
  /* clip-path: polygon(
    40% 0,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  ); */
  clip-path: polygon(30% 20%, 100% 20%, 100% 80%, 30% 80%, 0% 50%);
}

.btn-primary {
  background-color: #0e305d;
}

.btn-warning {
  background-color: #f1cb82;
}

table input[type="number"]::-webkit-inner-spin-button,
table input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.betTable > tbody > tr > td {
  vertical-align: middle;
}

.betTable input,
.betTable select {
  border-radius: 4px;
}

.betPanel input {
  padding: 0.15rem;
  /* width: 3rem; */
  height: 2rem;
}

.betTable thead,
.betTable tfoot,
.betTable select {
  background-color: #0e305d;
}

.betTable .table-dark:hover {
  background-color: #0e305d;
}

.betTable select,
.betTable input[type="checkbox"],
.betTable .custom-control-label {
  cursor: pointer;
}

.betTable .table-dark tr:hover {
  background-color: inherit;
}

.inherit {
  color: inherit;
}

@keyframes flash {
  0% {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff,
      0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff,
      0px 0px 25px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #7b96b8,
      0px 0px 5px #7b96b8, 0px 10px 5px #ffffe8, 0px 10px 50px #ffffe8,
      0px 10px 100px #e4be0d, 0px 10px 100px #e4be0d, 0px -10px 100px #e4be0d,
      0px -10px 100px #e4be0d;
    color: #ffe674;
  }
}

.custom-control-inline {
  margin-right: 0;
}

.pseudo-disabled {
  pointer-events: none;
}
